@import "../base/_base.scss";

footer {
  left: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  padding: 0 0 1rem 0;
  width: 100%;

  hr {
    width: 6rem;
    margin-bottom: 4rem;
    border-top: 2px solid $orange;
  }

  ul {
    text-align: center;
    display: contents;

    li {
      list-style: none;
      display: inline-block;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      font-size: 1.5rem;
    }
  }
}
