@import '../base/_base.scss';

.new_post_container {
  margin-top: 1.6rem;
  padding: 1.4rem 1.4rem 1.4rem 1.4rem;
  border-radius: 2.5%;

  .new_post_header {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
	  margin-bottom: 20px;

    h1 {
      text-align: center;
    }
  }
}
