<nav>
  <div class="logo">
    <a href="#">BRAND</a>
  </div>
  <ul>
    <li><%= link_to 'home', '#', class: 'cool-link' %></li>
    <li><%= link_to 'about', '#', class: 'cool-link' %></li>
    <li><%= link_to 'contact', '#', class: 'cool-link' %></li>
  </ul>
</nav>

<%= render "layouts/partials/alerts" %>
