<nav>
  <div class="logo">
    <a href="#">BRAND</a>
  </div>
  <ul>
    <li><%= link_to 'home', '#' %></li>
    <li><%= link_to 'about', '#' %></li>
    <li><%= link_to 'contact', '#' %></li>
  </ul>
</nav>


<%= render "layouts/partials/alerts" %>
